@charset "UTF-8";

#apprbtn {
	float: right;
}

#apprTable {
	border: solid 1px #888;
	width: 230px;
	font-size: 15px;
	text-align: center;
	margin: 30px;
}

#approvalLine {
	position: absolute;
	right: 30px;
	top: 25px;
}

.singleApprLine {
	width: 100px;
	height: 110px;
	display: inline-block;
	text-align : center;
	border: solid 1px #888;
	margin : 0px;
}

.singleApprType{
	width: 20px;
	height: 100px;
	display: inline-block;
	text-align : center;
	border: solid 1px #888;

}


.singleApprLineTop{
	width: 100%;
	height: 20%;
	display: inline-block;
	text-align : center;
	border-bottom: solid 1px #888;
	margin : 0px;
	padding-top : 2px;
}

.singleApprLineMiddle{
	width: 100%;
	height: 60%;
	display: inline-block;
	text-align : center;
	border-bottom: solid 1px #888;
	margin : 0px;
	padding-top : 3px;

}

.singleApprLineBottom{
	width: 100%;
	height: 20%;
	display: inline-block;
	text-align : center;
	margin : 0px;
	padding-top : 2px;
}


#apprContents{
border: solid 1px #888;
border-radius:4px 4px 0px 0px; 
padding-left:120px;
margin-top :20px;
}

#attached-file-div{
border : solid 1px #888;
border-top : none;
border-radius:0px 0px 4px 4px;
padding : 10px;
}