@charset "utf-8";

::-webkit-scrollbar {
    /* 스크롤바 스타일. 크롬에만 적용됨. 다른 브라우저에서도 되게 하려면 별도 작업 필요 */
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

::selection {
    background: #00b6c2;
    color: white;
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

body,
input,
textarea,
select {
    font-size: 14px;
    font-family: 'Noto Sans KR', 맑은 고딕, 돋움, malgun gothic, dotum, AppleGothic, Helvetica, sans-serif;
    *word-break: break-all;
    -ms-word-wrap: break-all;
    white-space: normal;
    word-break: break-all;
    letter-spacing: -0.5px;
}

input {
    font-size: 13px;
}

img {
    max-width: 100%;
}

.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}

.bg--gray {
    background-color: #EEF1F6;
}

.basic-border-top {
    border-top: 1px solid #ddd;
}

.basic-border-bottom {
    border-bottom: 1px solid #ddd;
}

/* header */
#gnb {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00a1b9;
    height: 100%;
    width: 200px;
    overflow: hidden;
    transition: width .2s;
}

@media screen and (min-width: 768px) {

    /* 768px 이상 화면에서 적용 */
    #gnb {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 200px;
        padding-bottom: 100px;
    }

    #gnb nav {
        height: calc(100% - 180px);
        overflow-y: auto;
    }
}

#gnb nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 8px;
    padding-left: 50px;
    transition: color 0.2s;
    border-radius: 4px;
    opacity: 0.8;
    height: 40px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: left center;
}

#gnb nav a:hover,
#gnb nav a.on {
    /* 마우스 올렸을 때, 클래스로 on이 붙어 있을 때 강조디자인 추가 */
    background-color: #0392a7;
    opacity: 1;
}

#gnb nav li:nth-child(1) a {
    background-image: url("../images/icons/00_icon_home.png");
}

#gnb nav li:nth-child(2) a {
    background-image: url("../images/icons/01_icon_mail.png");
}

#gnb nav li:nth-child(3) a {
    background-image: url("../images/icons/02_icon_board.png");
}

#gnb nav li:nth-child(4) a {
    background-image: url("../images/icons/03_icon_todo.png");
}

#gnb nav li:nth-child(5) a {
    background-image: url("../images/icons/04_icon_project.png");
}

#gnb nav li:nth-child(6) a {
    background-image: url("../images/icons/05_icon_schedule.png");
}

#gnb nav li:nth-child(7) a {
    background-image: url("../images/icons/06_icon_doc.png");
}

#gnb nav li:nth-child(8) a {
    background-image: url("../images/icons/07_icon_survey.png");
}

#gnb nav li:nth-child(9) a {
    background-image: url("../images/icons/08_icon_att.png");
}

#gnb nav li:nth-child(10) a {
    background-image: url("../images/icons/09_icon_reservation.png");
}

#gnb__btn--org {
    position: absolute;
    bottom: 16px;
    left: 10px;
    display: block;
    width: calc(100% - 20px);
    padding-left: 50px;
    transition: opacity 0.2s;
    border-radius: 4px;
    opacity: 0.8;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    background: url("../images/icons/10_icon_org.png") no-repeat left center;
}

#gnb nav>button:hover {
    opacity: 1;
}

#gnb__btn--burger {
    position: absolute;
    top: 16px;
    left: 8px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    transition: 0.2s;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/icons/btn_hamburger.png);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
}

#btn--burger:hover,
#btn--burger.on {
    background-color: #0392a7;
}

#gnb__logo {
    z-index: 100;
    position: relative;
    margin: 70px 0 24px;
    top: 0px;
    left: 0px;
    font-size: 0;
    display: block;
    text-align: center;
}

#gnb.on {
    width: 56px;
}

#gnb.on * {
    font-size: 0;
}

#gnb.on #gnb__logo img {
    display: none;
}

#gnb.on nav a {
    padding-left: 40px;
}

#gnb.on #gnb__btn--org {
    left: 8px;
    width: 38px;
    height: 38px;
    padding-left: 0;
    background-position: center center;
}

#gnb+#conts {
    padding-left: 200px;
}

#gnb+#conts #snb {
    left: 200px;
}

#gnb.on+#conts {
    padding-left: 56px;
}

#gnb.on+#conts #snb {
    left: 56px;
}

#snb {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #ddd;
}

#snb+article {
    min-height: 100vh;
    padding-left: 250px;
    background-color: #fff;
}

#snb h1 {
    padding: 24px 24px 16px;
}

.btn--function {
    position: relative;
    display: block;
    height: 44px;
    font-size: 14px;
    margin: 6px 24px;
    letter-spacing: -1px;
    line-height: 44px;
    padding: 0px;
    text-align: center;
    background: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    transition: text-shadow .2s;
}

.btn--function:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

#conts h1 {
    padding: 24px 24px 16px;
    font-size: 22px;
    letter-spacing: -1px;
}

#conts h1 strong {
    font-weight: 700;
}

.btn--profile {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    overflow: hidden;
}

.btn--alarm {
    background: url(../images/icons/ic_snb.png) no-repeat;
    background-position: -43px -43px;
    border-radius: 4px;
}

.btn--alarm:hover {
    background-color: #eee;
}

#nav--right {
    position: absolute;
    top: 12px;
    right: 24px;
}

#nav--right button {
    vertical-align: middle;
}

#nav--right button:not(:last-of-type) {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.btn--alarm {
    position: relative;
}

.btn--alarm span {
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    width: 16px;
    line-height: 16px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 12px;
}

.form--srch {
    position: absolute;
    top: 12px;
    right: 120px;
}

.form--srch input {
    width: 124px;
    border: 1px solid #ddd;
    height: 32px;
    padding-left: 10px;
    padding-right: 32px;
    background: none;
}

.form--srch:hover input {
    border-color: #00a1b9;
}

.form--srch input::placeholder {
    color: #999;
}

.form--srch button[type=submit] {
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    background: url(../images/icons/ic_gnb.png) no-repeat -483px -661px;
    width: 27px;
    height: 27px;
}

#main #calendar * {
    border: none;
}

#main .fc-col-header th {
    padding: 10px 0;
}

#main .fc .fc-daygrid-day-top {
    display: block;
    text-align: center;
}

#main .fc-day-sun {
    color: red;
}

#main .fc-day-sat {
    color: rgb(103, 103, 255);
}

#main .fc-daygrid-day-events {
    display: none;
}

#main .row {
    padding: 24px 24px 60px;
}

#main .row>div>section {
    min-height: 50px;
    padding: 16px 24px;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 13px;
    border-radius: 6px;
    box-shadow: 0 4px 14px 0 rgb(168 184 201 / 10%);
}

@media screen and (min-width: 1201px) {
    #main .row {
        display: flex;
        justify-content: space-between;
    }

    #main .row>div:nth-child(1) {
        width: 28.5%;
    }

    #main .row>div:nth-child(2) {
        width: 36.5%;
    }

    #main .row>div:nth-child(3) {
        width: 32.5%;
    }
}

#main .row>div>section>h2 {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    color: #3b3b3b;
    letter-spacing: -1px;
}

.figure--profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px auto 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.figure--profile+h2 {
    font-size: 20px !important;
    letter-spacing: -1px;
}