@charset "UTF-8";

#main #calendar * {
    border: none;
}

#main .fc-col-header th {
    padding: 10px 0;
}

#main .fc .fc-daygrid-day-top {
    display: block;
    text-align: center;
}

#main .fc-day-sun {
    color: red;
}

#main .fc-day-sat {
    color: rgb(103, 103, 255);
}

#main .fc-daygrid-day-events {
    display: none;
}

#main .row {
    padding: 24px 24px 60px;
}

#main .row>div>section {
    min-height: 50px;
    padding: 16px 24px;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 13px;
    border-radius: 6px;
    box-shadow: 0 4px 14px 0 rgb(168 184 201 / 10%);
}

@media screen and (min-width: 1201px) {
    #main .row {
        justify-content: space-between;
        margin-right: 0;
        margin-left: 0;
    }

    #main .row>div {
        padding-right: 0;
        padding-left: 0;
    }

    #main .row>div:nth-child(1) {
        width: 28.5%;
    }

    #main .row>div:nth-child(2) {
        width: 36.5%;
    }

    #main .row>div:nth-child(3) {
        width: 32.5%;
    }
}

#main .row>div>section>h2 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    color: #3b3b3b;
    letter-spacing: -1px;
}

.figure--profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px auto 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.figure--profile+h2 {
    font-size: 20px !important;
    letter-spacing: -1px;
}

.ul--birthday {
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

.ul--birthday li {
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
}

.ul--birthday li strong {
    font-weight: 400;
}

@media screen and (min-width: 1201px) {
    .ul--birthday {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 40px;
    }

    .ul--birthday li {
        width: 50%;
    }
}