@charset "UTF-8";

.subConts {
    padding: 20px;
}

.subConts.align--middle {
    min-height: calc(100vh - 63px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subConts>h2.square-tit {
    position: relative;
    margin-top: 20px;
    padding: 0 20px 0 44px;
    font-weight: 400;
    font-size: 18px;
}

.subConts>h2.square-tit:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 20px;
    display: block;
    width: 14px;
    height: 14px;
    background: powderblue;
}

/* 개인업무관리 */
#todo section {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

#todo section>h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

#todo .btn--plus {
    top: 40px;
    right: 40px;
}

.todo__wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo--today {
    width: 60%;
}

.todo--today li {
    position: relative;
    padding-right: 120px;
    padding-left: 30px;
}

.todo--today label {
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    text-align: center;
}

.todo--today input[type="checkbox"] {
    position: fixed;
    width: 0;
    height: 0;
    left: -999px;
}

.todo--today input[type="checkbox"]:checked+label {
    border-color: #00498c;
}

.todo--today input[type="checkbox"]:checked+label:before {
    content: "\f00c";
    display: inline-block;
    font-family: "Fontawesome";
    color: #00498c;
}

.todo--today input[type="checkbox"]:checked+label+input {
    text-decoration: line-through;
}

.todo--today li .btns-wrap {
    position: absolute;
    top: 6px;
    right: 0;
    display: none;
    font-size: 0;
}

.todo--today li input:focus+.btns-wrap,
.todo--today li:hover input+.btns-wrap {
    display: block;
}

.todo--today li .btns-wrap button:not(:last-of-type) {
    margin-right: 4px;
}

.todo--month {
    width: 38.5%;
}

.span--todo-guide {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
}

#todoCalendar .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

section[class^="todo--"] {
    padding: 40px;
    max-height: 360px;
    overflow-y: auto;
}

.todo--today li {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.todo--today input[type="text"] {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    font-size: 15px;
    outline: none;
    border: none;
}

.p--memo-guide {
    position: absolute;
    top: 30%;
    right: 0;
    left: 50%;
    display: none;
    width: 90%;
    max-width: 400px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, .5);
    transform: translateX(-50%);
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    border-radius: 10px;
}

.memo--list {
    padding: 40px;
    clear: both;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.memo--list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 300px;
    margin: 0 -15px;
    padding: 20px;
}

.memo--list li {
    position: relative;
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
    transform: rotate(1deg);
}

.memo--list li:nth-child(even) {
    transform: rotate(-1deg);
}

.memo--list textarea {
    width: 100%;
    min-height: 260px;
    padding: 20px;
    padding-top: 40px;
    border: none;
    background-color: #fff999;
    box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, .3);
    outline: none;
    font-size: 15px;
    line-height: 1.8;
}

.memo--list textarea.notStored {
    background: #fcc;
}

.memo--list li .btns-wrap {
    position: absolute;
    top: 10px;
    right: 30px;
    display: none;
}

.memo--list li:hover textarea+.btns-wrap,
.memo--list textarea:focus+.btns-wrap {
    display: block;
}

.memo--list li .btns-wrap .point,
.memo--list li .btns-wrap .finished {
    padding: 2px;
    background: none;
    border: none;
    font-size: 0;
}

.memo--list li .btns-wrap .point:after,
.memo--list li .btns-wrap .finished:after {
    font-family: "Fontawesome";
    font-size: 20px;
    color: #999;
}

.memo--list li .btns-wrap .point:after {
    content: "\f00c";
}

.memo--list li .btns-wrap .finished:after {
    content: "\f00d";
}

.no-data {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 !important;
    border-bottom: none !important;
}

.no-data p {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
}

#todoCalendar {
    border-bottom: 1px solid #ddd;
}

#todoCalendar .fc-header-toolbar>div:nth-child(2)>div {
    padding-bottom: 0;
}

#todoCalendar .fc-toolbar.fc-header-toolbar {
    margin: 0 0 10px;
}

#todoCalendar .fc-scrollgrid-liquid {
    border-left: 1px solid #ddd;
}

#todoCalendar .fc-scrollgrid-liquid tbody {
    background: linear-gradient(to bottom, #ddd 1px, #fff 1px);
}

/* 개인업무관리 끝 */

/* 일정 관리 */
.fc * {
    text-align: left;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 1.5em 0 0;
    padding: 0 20px;
    align-items: flex-end;
}

.fc-header-toolbar>div:nth-child(2)>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.fc .fc-button .fc-icon {
    color: #999;
}

.fc .fc-prev-button,
.fc .fc-next-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.fc .fc-button-primary:hover {
    background: none !important;
}

.fc .fc-scrollgrid-liquid {
    border-left: none;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-bottom: none;
}

.fc .fc-col-header-cell-cushion,
.fc .fc-daygrid-day-number {
    padding: 8px 4px;
}

.fc .fc-daygrid-day-top {
    flex-direction: row;
}

.fc .fc-button-group button {
    background-color: transparent;
    color: #333;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0 !important;
    outline: none;
}

.fc .fc-button-group button.fc-button-active,
.fc .fc-button-group button:hover {
    background-color: transparent !important;
    font-weight: 700;
    color: #000 !important;
    border-color: #000;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
}

.fc .fc-toolbar-title {
    margin: 0 16px;
}

.fc .fc-today-button {
    margin-left: 10px;
}

.fc .fc-daygrid-day.fc-day-today {
    position: relative;
}

#scheduleList .fc .fc-dayGridMonth-view .fc-daygrid-day.fc-day-today:before {
    content: url("../images/img_star.png");
    position: absolute;
    top: -23px;
    left: -33px;
    transform: rotate(45deg);
}

.fc .fc-day-sun {
    color: #FF000A;
}

.fc .fc-today-button,
.fc .fc-today-button:hover,
.fc .fc-today-button:disabled,
.fc .fc-today-button:disabled:hover {
    background-color: #fff;
    border: none;
    color: #333;
    border-radius: 0;
    opacity: 1;
}

.fc-event {
    cursor: pointer;
}

.modal--shcedule li {
    display: flex;
    align-items: center;
    margin-top: 20px !important;
}

.modal--shcedule li:last-child {
    align-items: start;
}

.modal--shcedule input[type="text"] {
    width: calc(90% - 90px);
    max-width: 360px;
}

.modal--shcedule .colors {
    display: inline-block;
    vertical-align: middle;
    width: calc(90% - 90px);
    max-width: 360px;
    font-size: 0;
}

.modal--shcedule .colors span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.modal--shcedule .colors span.selected {
    border: 2px solid black;
}

.modal--shcedule textarea {
    width: calc(100% - 90px);
    padding: 10px;
}

/* 일정 관리 끝 */

/* 공용품 예약/관리 */
.h2--reservation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h2--reservation button {
    width: 20px;
    height: 20px;
    background: url("../images/icons/btn_more.png") no-repeat center center;
    outline: none;
    opacity: .5;
}

#reservation {
    padding-bottom: 100px !important;
}

#reservation .section--modal li {
    display: flex;
    align-items: center;
    margin-top: 20px !important;
    font-size: 0;
}

#reservation .section--modal li:last-child {
    align-items: flex-start;
}

#reservation .section--modal li:last-child label {
    padding-top: 10px;
}

.section--modal li * {
    font-size: 14px;
}

.section--modal textarea {
    width: calc(100% - 90px);
    padding: 10px;
}

.modal--reservation input[type="date"],
.modal--reservationEdit input[type="date"] {
    width: 120px;
}

.modal--reservation select[class^="time-select-"],
.modal--reservationEdit select[class^="time-select-"] {
    margin-left: 4px;
}

.modal--reservation .time-select-1,
.modal--reservationEdit .time-select-1 {
    width: 70px;
}

.modal--reservation .time-select-2,
.modal--reservationEdit .time-select-2 {
    width: 60px;
}

.modal--reservation .time-select-3,
.modal--reservationEdit .time-select-3 {
    width: 60px;
}

#reservationCalendar {
    margin-bottom: 60px;
    border-bottom: 1px solid #ccc;
}

.fc .fc-timegrid-now-indicator-container {
    overflow: visible;
}

.fc .fc-timegrid-now-indicator-arrow {
    border-right-color: var(--fc-now-indicator-color, #00498c);
    border-left-color: var(--fc-now-indicator-color, #00498c);
}

.fc-timegrid-now-indicator-arrow::after {
    content: "";
    display: block;
    width: 100vw;
    border-bottom: 2px solid #00498c;
}

.fc .fc-timegrid-now-indicator-line {
    border-color: #00498c;
}

.fc .fc-timegrid-now-indicator-line::after {
    content: "NOW !";
    color: #00498c;
    display: block;
    width: 100%;
    margin-top: 4px;
    padding-right: 4px;
    text-align: right;
    font-size: 12px;
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    background-color: rgba(239, 239, 239, .7);
    background-color: var(--fc-today-bg-color, rgba(239, 239, 239, .7));
}

.ul--utility>li>ul>li {
    position: relative;
}

.btn--utility-setting {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/ic_toolbar.png");
    background-position: 100px 50px;
    transform: translateY(-50%);
    transition: transform .3s;
}

@media screen and (min-width: 1201px) {
    .btn--utility-setting:hover {
        transform: translateY(-50%) rotate(180deg);
    }
}

.bugReport {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: calc(100% - 20px);
}
/* #todo .fc .fc-dayGridMonth-view .fc-daygrid-day.fc-day-today:before {
    content: url("../images/icons/icon_success.png");
    position: absolute;
    bottom: 4px;
    right: 4px;
} */

/* 공용품 예약/관리 끝 */

/* 게시판 */

/* 게시판 끝 */