@charset "UTF-8";

.subConts {
    padding: 20px;
}

/* 개인업무관리 */
#todo section {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

#todo section h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

#todo .btn--plus {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    background: url("../images/icons/btn_plus.png") no-repeat center center;
    outline: none;
}

.todo__wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo--today {
    width: 60%;
}

.todo--today li {
    position: relative;
    padding-right: 90px;
    padding-left: 30px;
}

.todo--today label {
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    text-align: center;
}

.todo--today input[type="checkbox"] {
    position: fixed;
    width: 0;
    height: 0;
    left: -999px;
}

.todo--today input[type="checkbox"]:checked+label {
    border-color: #0392a7;
}

.todo--today input[type="checkbox"]:checked+label:before {
    content: "\2713";
    display: inline-block;
}

.todo--today input[type="checkbox"]:checked+label+input {
    text-decoration: line-through;
}

.todo--week {
    width: 38.5%;
}

.todo--week a:before {
    content: "\003E";
    font-family: sans-serif;
    margin-right: 10px;
}

section[class^="todo--"] {
    padding: 40px;
    max-height: 50vh;
    overflow-y: auto;
}

section[class^="todo--"] li {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.todo--today input[type="text"],
.todo--week a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    border: none;
}

.memo--list {
    padding: 40px;
    clear: both;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.memo--list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: 20px;
}

.memo--list li {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
    transform: rotate(1deg);
}

.memo--list li:nth-child(even) {
    transform: rotate(-1deg);
}

.memo--list textarea {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    border: none;
    background-color: #fff999;
    box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, .3);
    outline: none;
    font-size: 16px;
    line-height: 1.8;
}

/* 개인업무관리 끝 */

/* 일정 관리 */
.fc .fc-prev-button,
.fc .fc-next-button {
	background-color: transparent;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin: 1.5em 0 0;
	padding: 0 20px;
}

.fc-header-toolbar>div:nth-child(2)>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fc .fc-button-group button {
	background-color: transparent;
	color: #333;
	border: none;
	border-bottom: 2px solid transparent;
	border-radius: 0 !important;
	outline: none;
}

.fc .fc-button-group button.fc-button-active,
.fc .fc-button-group button:hover {
	background-color: transparent !important;
	font-weight: 700;
	color: #000 !important;
	border-color: #000;
}

/* 일정 관리 끝 */