html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

pre {
  font-family: Courier New, monospaced;
  font-size: 10pt;
  background-color: #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1em;
  
  /* zoo 추가.*/
  margin: 5px;
  
  /* 스크롤 적용여부에 따라 변경해야함. */
  word-wrap: normal;      /*코드를 그대로 표시하기 위해 break-word -> normal변경.IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre;      /*pre-wrap =>  nowrap current browsers */
  overflow: auto;       /*코드를 word-wrap없이 그대로 표시하기 위해 추가 . 박병훈 2014.07.23 */
}

pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.js-punctuation {
  color: #666666;
}

span.js-operator {
  color: #666666;
}

span.js-keyword {
  /*color: #770088;*/
  color: blue;
}

span.js-atom {
  /*color: #228811;*/
  color: Red;
}

span.js-variable {
  color: black;
}

span.js-variabledef {
  /*color: #0000FF;*/
  color: black
}

span.js-localvariable {
  /*color: #004499;*/
  color: black
}

span.js-property {
  color: black;
}

span.js-comment {
  /*color: #AA7700;*/
  color: #008000;
}

span.js-string {
  color: #AA2222;
  /*color: #FF0080;*/
}
