<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EmployeeAdminMapper">
	<resultMap type="Employee" id="emplResultMap">
		<id property="emplId" column="EMPL_ID"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="positionCode" column="POSITION_CODE"/>
		<result property="emplPw" column="EMPL_PW"/>
		<result property="emplName" column="EMPL_NAME"/>
		<result property="startDate" column="START_DATE"/>
		<result property="email" column="EMAIL"/>
		<result property="directNo" column="DIRECT_NO"/>
		<result property="phoneNo" column="PHONE_NO"/>
		<result property="recruitCategory" column="RECRUIT_CATEGORY"/>
		<result property="salaryCategory" column="SALARY_CATEGORY"/>
		<result property="referrer" column="REFERRER"/>
		<result property="isStatus" column="IS_STATUS"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="gender" column="GENDER"/>
		<result property="isMarriage" column="IS_MARRIAGE"/>
		<result property="isDisability" column="IS_DISABILITY"/>
		<result property="isVeterans" column="IS_VETERANS"/>
		<result property="endDate" column="END_DATE"/>
		<result property="endReason" column="END_REASON"/>
		<result property="profile" column="EMPL_PROFILE"/>
		<!-- 회원 정보 이름으로 가져오기 -->
		<result property="deptName" column="DEPT_NAME"/>
		<result property="positionName" column="POSITION_NAME"/>
		<association javaType="Certification" property="certification" column="EMPL_ID">
			<id property="certNo" column="CERT_NO"/>
			<result property="emplId" column="EMPL_ID"/>
			<result property="certCategory" column="CERT_CATEGORY"/>
			<result property="certName" column="CERT_NAME"/>
			<result property="certEnrollNo" column="CERT_ENROLL_NO"/>
			<result property="certLevel" column="CERT_LEVEL"/>
			<result property="certInst" column="CERT_INST"/>
			<result property="certStartDate" column="CERT_INST"/>
			<result property="certEndDate" column="CERT_END_DATE"/>	
		</association>
		<association javaType="JobRole" property="jobRole" column="EMPL_ID">
			<id property="jobRoleNo" column="JOB_ROLL_NO"/>
			<result property="emplId" column="EMPL_ID"/>
			<result property="jobRoleDivision" column="JOB_ROLE_DIVISION"/>
			<result property="jobRoleTitle" column="JOB_ROLE_TITLE"/>
			<result property="jobRoleStartDate" column="JOB_ROLE_START_DATE"/>
			<result property="jobRoleEndDate" column="JOB_ROLE_END_DATE"/>
			<result property="jobRoleConts" column="ROB_ROLE_CONTS"/>
			<result property="jobRoleEtc" column="JOB_ROLE_ETC"/>
		</association>
		<association javaType="Language" property="language" column="EMPL_ID">
			<id property="langNo" column="LANG_NO"/>
			<result property="emplId" column="EMPL_ID"/>
			<result property="langCategory" column="LANG_CATEGORY"/>
			<result property="langName" column="LANG_NAME"/>
			<result property="langTestDate" column="LANG_TEST_DATE"/>
			<result property="langInst" column="LANG_INST"/>
			<result property="langScore" column="LANG_SCORE"/>
			<result property="langGrade" column="LANG_GRADE"/>
			<result property="langEtc" column="LANG_ETC"/>
		</association>
		<association javaType="Military" property="military" column="EMPL_ID">
			<id property="militaryNo" column="MILITARY_NO"/>
			<result property="emplId" column="EMPL_ID"/>
			<result property="militaryGrade" column="MILITARY_GRADE"/>
			<result property="militaryCode" column="MILITARY_CODE"/>
			<result property="isMilitaryEnd" column="IS_MILITARY_END"/>
			<result property="militaryStartDate" column="MILITARY_START_DATE"/>
			<result property="militaryEndDate" column="MILITARY_END_DATE"/>
			<result property="militaryEtc" column="MILITARY_ETC"/>
		</association>
	</resultMap>
	<select id="selectAllEmployee" resultMap="emplResultMap">
		SELECT * FROM EMPL_TBL WHERE NOT IS_STATUS IN ('임시','퇴사')
	</select>
	
	<select id="selectAllEmployeeWithName" resultMap="emplResultMap">
		SELECT EMPL_ID, E.DEPT_CODE, E.POSITION_CODE, EMPL_PW, EMPL_NAME, START_DATE, EMAIL,
		DEPT_NAME, POSITION_NAME
		FROM EMPL_TBL E
		JOIN DEPT_TBL D ON(E.DEPT_CODE = D.DEPT_CODE)
		JOIN POSITION_TBL P ON(E.POSITION_CODE = P.POSITION_CODE)
		WHERE NOT IS_STATUS IN ('임시','퇴사')
	</select>
	
	<select id="selectSearchEmplList" resultMap="emplResultMap">
		SELECT EMPL_ID, E.DEPT_CODE, E.POSITION_CODE, EMPL_PW, EMPL_NAME, START_DATE, EMAIL,
		DEPT_NAME, POSITION_NAME
		FROM EMPL_TBL E
		JOIN DEPT_TBL D ON(E.DEPT_CODE = D.DEPT_CODE)
		JOIN POSITION_TBL P ON(E.POSITION_CODE = P.POSITION_CODE)
		WHERE NOT IS_STATUS IN ('임시','퇴사')
		AND DEPT_NAME LIKE '%' || #{emplSearchKeyword } || '%'
		OR EMPL_NAME LIKE '%' || #{emplSearchKeyword } || '%'
		ORDER BY DEPT_CODE, POSITION_CODE, EMPL_NAME
	</select>
	
	<select id="selectOneEmployee" resultMap="emplResultMap">
		SELECT * FROM EMPL_TBL WHERE EMPL_ID = #{emplId }
	</select>
	<select id="selectAllRetiree" resultMap="emplResultMap">
		SELECT * FROM EMPL_TBL WHERE IS_STATUS = '퇴사'
	</select>
</mapper>