<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprMapper">
<resultMap type="ApprForm" id="apprFormResultMap">
<id 	property="formNo" column="FORM_NO"></id>
<result property="formTitle" column="FORM_TITLE"></result>
<result property="formContents" column="FORM_CONTENTS"></result>
<result property="writeDate" column="FORM_CRATE_DATE"></result>
<result property="status" column="FORM_STATUS"></result>
</resultMap>
<resultMap type="Approval" id="apprResultMap">
<id 	property="apprNo" column="APPR_NO"></id>
<result property="formNo" column="FORM_NO"></result>
<result property="emplId" column="EMPL_ID"></result>
<result property="apprTitle" column="APPR_TITLE"></result>
<result property="apprContents" column="APPR_CONTENTS"></result>
<result property="apprStatus" column="APPR_STATUS"></result>
<result property="writeDate" column="WRITE_DATE"></result>
<result property="temporaryStorage" column="TEMPORARY_STORAGE"></result>
<result property="docNo" column="DOC_NO"></result>
<collection property="aList" column="APPR_NO" javaType="java.util.ArrayList" ofType="ApprAccept" select="selectAllApprAccept"></collection>
<collection property="fList" column="APPR_NO" javaType="java.util.ArrayList" ofType="ApprAttachedFile" select="selectAllApprAttachedFile"></collection>
<collection property="employee" column="EMPL_ID" ofType="Employee"  select="selectAllApprEmpl"></collection>
<collection property="rList" column="APPR_NO" javaType="java.util.ArrayList" ofType="Reference"  select="selectAllReference"></collection>

</resultMap>

<resultMap type="ApprAccept" id="apprAcceptResultMap">
<id 	property="acceptNo" column="ACCEPT_NO"></id>
<result property="apprNo" column="APPR_NO"></result>
<result property="emplId" column="EMPL_ID"></result>
<result property="apprLevel" column="APPR_LEVEL"></result>
<result property="apprType" column="APPR_TYPE"></result>
<result property="aStatus" column="APPR_STATUS"></result>
<result property="apprComment" column="APPR_COMMENT"></result>
<result property="apprDate" column="APPR_DATE"></result>
<collection property="employee" column="EMPL_ID" ofType="Employee"  select="selectAllApprEmpl"></collection>
</resultMap>


<resultMap type="ApprAttachedFile" id="apprAttachedFileResultMap">
<id 	property="fileNo" column="FILE_NO"></id>
<result property="apprNo" column="APPR_NO"></result>
<result property="fileName" column="FILE_NAME"></result>
<result property="fileRename" column="FILE_RENAME"></result>
<result property="filePath" column="FILE_PATH"></result>
</resultMap>

<resultMap type="Reference" id="referenceResultMap">
<id 	property="refNo" column="REF_NO"></id>
<result property="apprNo" column="APPR_NO"></result>
<result property="emplId" column="EMPL_ID"></result>
<result property="refType" column="REF_TYPE"></result>
</resultMap>


<resultMap type="com.highfive.hirp.employee.domain.Employee" id="employeeResultMap"> <!-- 필요한 값만 적으면 됨 -->
		<id property="emplId" column="EMPL_ID" />
		<result property="deptCode" column="DEPT_CODE" />
		<result property="positionCode" column="POSITION_CODE" />
		<result property="emplPw" column="EMPL_PW" />
		<result property="emplName" column="EMPL_NAME" />
		<result property="startDate" column="START_DATE" />
		<result property="email" column="EMAIL" />
		<result property="directNo" column="DIRECT_NO" />
		<result property="phoneNo" column="PHONE_NO" />
		<result property="recruitCategory" column="RECRUIT_CATEGORY" />
		<result property="salaryCategory" column="SALARY_CATEGORY" />
		<result property="referrer" column="REFERRER" />
		<result property="isStatus" column="IS_STATUS" />
		<result property="birthday" column="BIRTHDAY" />
		<result property="gender" column="GENDER" />
		<result property="isMarriage" column="IS_MARRIAGE" />
		<result property="isDisability" column="IS_DISABILITY" />
		<result property="isVeterans" column="IS_VETERANS" />
		<result property="endDate" column="END_DATE" />
		<result property="endReason" column="END_REASON" />
		<result property="emplProfile" column="EMPL_PROFILE" />
</resultMap>

<!-- 결재 폼 등록 -->
<insert id="insertApprForm">
	INSERT INTO APPR_FORM_TBL VALUES(APPR_FORM_SEQ.NEXTVAL, #{formTitle},#{formContents},DEFAULT,DEFAULT)
</insert>
<!-- 결재 폼 전체 조회 -->
<select id="selectAllApprForm" resultMap="apprFormResultMap">
	SELECT * FROM APPR_FORM_TBL
</select>
<!-- 결재홈 하나 조회 -->
<select id="selectApprForm" resultMap="apprFormResultMap">
	SELECT * FROM APPR_FORM_TBL WHERE FORM_NO = #{formNo}
</select>
<!-- 결재 테이블 등록 -->
<insert id="insertAppr">
	INSERT INTO APPROVAL_TBL(APPR_NO,FORM_NO,EMPL_ID,APPR_TITLE,APPR_CONTENTS,APPR_STATUS,WRITE_DATE,TEMPORARY_STORAGE) VALUES(APPR_SEQ.NEXTVAL,#{formNo},#{emplId},#{apprTitle},#{apprContents},DEFAULT,DEFAULT,DEFAULT)
</insert>
<!-- 최신 결재 번호 가져오기 -->
<select id="selectRecentApprNo" resultType="_int">
	SELECT APPR_NO FROM(SELECT APPR_NO, RANK()OVER(ORDER BY WRITE_DATE DESC )RANK_NUM FROM APPROVAL_TBL)WHERE RANK_NUM = 1
</select>
<!-- 결재 첨부파일 등록 -->
<insert id="insertApprAttachedFile">
	INSERT INTO APPR_ATTACHED_FILE_TBL VALUES(APPR_FILE_SEQ.NEXTVAL,#{apprNo},#{fileName},#{fileRename},#{filePath})
</insert>
<!-- 결재자등록 -->
<insert id="insertApprover">
	INSERT INTO APPR_ACCEPT_TBL(ACCEPT_NO, APPR_NO,EMPL_ID, APPR_LEVEL,APPR_TYPE,APPR_STATUS) VALUES(APPR_ACCEPT_SEQ.NEXTVAL,#{apprNo},#{emplId},(SELECT NVL(MAX(APPR_LEVEL),0)+1 FROM APPR_ACCEPT_TBL WHERE APPR_NO = #{apprNo}),#{apprType},DEFAULT)
</insert>


<!-- 결재 대기 문서 리스트 조회 -->
<select id="selectAllWaitingAppr" resultMap="apprResultMap">
	 SELECT  A.APPR_NO , FORM_TITLE "FORM_NO",  EMPL_NAME "EMPL_ID",APPR_TITLE ,APPR_CONTENTS ,A.APPR_STATUS ,WRITE_DATE,TEMPORARY_STORAGE ,DOC_NO 
         FROM APPROVAL_TBL A
         JOIN EMPL_TBL E ON(A.EMPL_ID = E.EMPL_ID) 
        JOIN APPR_FORM_TBL F ON(A.FORM_NO=F.FORM_NO) 
         JOIN (
        SELECT APPR_NO, APPR_LEVEL FROM APPR_ACCEPT_TBL WHERE EMPL_ID = #{emplId}
        INTERSECT
        SELECT APPR_NO,MIN(APPR_LEVEL)FROM APPR_ACCEPT_TBL WHERE APPR_STATUS='대기' GROUP BY APPR_NO)B ON A.APPR_NO = B.APPR_NO
		 WHERE APPR_STATUS IN ('진행','대기') AND TEMPORARY_STORAGE = 'N'
</select>

<!-- 상신문서함 조회 -->
<select id="selectAllMyAppr" resultMap="apprResultMap">
	 	SELECT  A.APPR_NO , FORM_TITLE "FORM_NO",  EMPL_NAME "EMPL_ID",APPR_TITLE ,APPR_CONTENTS ,A.APPR_STATUS ,WRITE_DATE,TEMPORARY_STORAGE ,DOC_NO 
         FROM APPROVAL_TBL A
         JOIN EMPL_TBL E ON(A.EMPL_ID = E.EMPL_ID) 
        JOIN APPR_FORM_TBL F ON(A.FORM_NO=F.FORM_NO) 
		WHERE A.EMPL_ID= #{emplId} AND TEMPORARY_STORAGE ='N'  
</select>


<!-- 결재문서 조회 -->
<select id="selectOneAppr" resultMap="apprResultMap">
	SELECT * FROM APPROVAL_TBL WHERE  APPR_NO = #{apprNo}
</select>

<!-- 첨부파일 조회 -->
<select id="selectAllApprAttachedFile"  resultMap="apprAttachedFileResultMap">
	SELECT * FROM APPR_ATTACHED_FILE_TBL WHERE APPR_NO = #{apprNo}
</select>

<!-- 결재자 조회 -->
<select id="selectAllApprAccept"  resultMap="apprAcceptResultMap">
	SELECT * FROM APPR_ACCEPT_TBL WHERE APPR_NO = #{apprNo} ORDER BY APPR_LEVEL ASC
</select>

<!-- 결재자 정보 -->
<select id="selectAllApprEmpl" resultMap="employeeResultMap">
	SELECT EMPL_PROFILE, EMPL_NAME, EMPL_ID, EMPL_PW, DEPT_NAME "DEPT_CODE", POSITION_NAME "POSITION_CODE",
		DIRECT_NO, EMAIL, PHONE_NO, TO_CHAR(BIRTHDAY, 'YYYY-MM-DD') "BIRTHDAY" <!-- string을 날짜형태로 변환하기 위해 적어줌 ""에는 컬럼명 써줌 -->
		FROM EMPL_TBL E
		JOIN DEPT_TBL D ON(E.DEPT_CODE = D.DEPT_CODE)
		JOIN POSITION_TBL P ON(E.POSITION_CODE = P.POSITION_CODE)
		WHERE EMPL_ID = #{emplId}
</select>

<!-- 승인,반려 -->
<update id="modifyApprAccept">
	UPDATE APPR_ACCEPT_TBL SET APPR_STATUS=#{aStatus} 
	<if test='apprComment !="" and apprComment !=null'>
		, APPR_COMMENT = #{apprComment}
	</if>
	,APPR_DATE = SYSDATE
	WHERE EMPL_ID = #{emplId} AND APPR_NO = #{apprNo}
</update>


<!--반려된 문서 이후의 결재라인 대기에서 ->null로 변경  -->
<update id="modifyRejectAppr">
 UPDATE APPR_ACCEPT_TBL
        SET APPR_STATUS = ''
        WHERE ACCEPT_NO IN (SELECT ACCEPT_NO FROM APPR_ACCEPT_TBL
        WHERE APPR_NO IN (SELECT APPR_NO FROM APPR_ACCEPT_TBL WHERE APPR_STATUS = '반려') AND APPR_STATUS ='대기')
</update>
<!-- 결재문서의 상태 변경 대기/진행/반려/완료 -->
<update id="modifyApprStatus">
 	UPDATE APPROVAL_TBL SET APPR_STATUS =#{apprStatus} 
 	WHERE APPR_NO = #{apprNo}
</update>

<!-- 임시저장 -->
<insert id="insertTempStorageAppr">
	INSERT INTO APPROVAL_TBL(APPR_NO,FORM_NO,EMPL_ID,APPR_TITLE,APPR_CONTENTS,TEMPORARY_STORAGE) VALUES(APPR_SEQ.NEXTVAL,#{formNo},#{emplId},#{apprTitle},#{apprContents},'Y')
</insert>

<!-- 임시저장 리스트 조회 -->
<select id="selectAllTempAppr" resultMap="apprResultMap">
	SELECT * FROM APPROVAL_TBL 
	WHERE EMPL_ID = #{emplId} AND TEMPORARY_STORAGE ='Y'
</select>

<!-- 반려문서함 조회 -->
<select id="selectAllRejectedAppr" resultMap="apprResultMap">
	SELECT * FROM APPROVAL_TBL 
	WHERE EMPL_ID = #{emplId} AND APPR_STATUS ='반려' AND TEMPORARY_STORAGE ='N'
</select>

<!--결재 완료 문서함 조회 -->
<select id="selectAllCompletedAppr" resultMap="apprResultMap">
	SELECT * FROM APPROVAL_TBL 
	WHERE EMPL_ID = #{emplId} AND APPR_STATUS ='완료' AND TEMPORARY_STORAGE ='N'
</select>
<!-- 임시저장 문서 수정 -->
<update id="updateStorageAppr">
	UPDATE APPROVAL_TBL SET APPR_TITLE = #{apprTitle}, APPR_CONTENTS=#{apprContents}, WRITE_DATE = SYSDATE, TEMPORARY_STORAGE = 'N' WHERE APPR_NO = #{apprNo}
</update>

<delete id="deleteStorageApprAccept">
	DELETE FROM APPR_ACCEPT_TBL WHERE APPR_NO = #{apprNo}
</delete>

<delete id="deleteStorageApprFile">
	DELETE FROM APPR_ATTACHED_FILE_TBL WHERE APPR_NO = #{apprNo}
</delete>

<select id="selectAllReference" resultMap="referenceResultMap">
	SELECT * FROM APPR_REFERENCE_TBL WHERE APPR_NO = #{apprNo}
</select>


<select id="selectAllRefApprList" resultMap="apprResultMap">
	SELECT * 
   	FROM APPROVAL_TBL A
   	JOIN APPR_REFERENCE_TBL R USING(APPR_NO)
   	WHERE R.EMPL_ID = #{emplId} AND REF_TYPE='참조자'
</select>

<select id="selectAllViewApprList" resultMap="apprResultMap">
	 SELECT * 
   	FROM APPROVAL_TBL A
   	JOIN APPR_REFERENCE_TBL R USING(APPR_NO)
   	WHERE R.EMPL_ID = #{emplId} AND REF_TYPE='열람자' AND APPR_STATUS ='완료'
</select>

<select id="selectProceedAppr" resultMap="apprResultMap">
SELECT  A.APPR_NO , FORM_TITLE "FORM_NO",  EMPL_NAME "EMPL_ID",APPR_TITLE ,APPR_CONTENTS ,A.APPR_STATUS ,WRITE_DATE,TEMPORARY_STORAGE ,DOC_NO 
         FROM APPROVAL_TBL A
         JOIN EMPL_TBL E ON(A.EMPL_ID = E.EMPL_ID) 
        JOIN APPR_FORM_TBL F ON(A.FORM_NO=F.FORM_NO) 
        WHERE A.EMPL_ID = #{emplId} AND APPR_STATUS ='진행'
</select>

</mapper>