<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprFormMapper">
<resultMap type="ApprForm" id="apprFormResultMap">
<id 	property="formNo" column="FORM_NO"></id>
<result property="formTitle" column="FORM_TITLE"></result>
<result property="formContents" column="FORM_CONTENTS"></result>
<result property="writeDate" column="FORM_CRATE_DATE"></result>
<result property="status" column="FORM_STATUS"></result>
</resultMap>
<insert id="insertApprForm">
	INSERT INTO APPR_FORM_TBL VALUES(APPR_FORM_SEQ.NEXTVAL, #{formTitle},#{formContents},DEFAULT,DEFAULT)
</insert>

<select id="selectAllApprForm" resultMap="apprFormResultMap">
	SELECT * FROM APPR_FORM_TBL
</select>

<select id="selectApprForm" resultMap="apprFormResultMap">
	SELECT * FROM APPR_FORM_TBL WHERE FORM_NO = #{formNo}
</select>

</mapper>