<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardReplyMapper">
<resultMap type="Reply" id="boardReplyResultMap">
<id 	property="replyNo" column="REPLY_NO"></id>
<result property="boardCode" column="BOARD_CODE"></result>
<result property="boardNo" column="BOARD_NO"></result>
<result property="parentReplyNo" column="PARENT_REPLY_NO"></result>
<result property="replyOrder" column="REPLY_ORDER"></result>
<result property="replyDepth" column="REPLY_DEPTH"></result>
<result property="emplId" column="EMPL_ID"></result>
<result property="replyContents" column="REPLY_CONTENTS"></result>
<result property="writeDate" column="WRITE_DATE"></result>
<result property="updateDate" column="UPDATE_DATE"></result>
<result property="status" column="STATUS"></result>
<collection property="employee" column="EMPL_ID" ofType="Employee"  select="selectEmplById"></collection>
</resultMap>
<resultMap type="com.highfive.hirp.employee.domain.Employee" id="employeeResultMap"> <!-- 필요한 값만 적으면 됨 -->
	<id property="emplId" column="EMPL_ID" />
	<result property="deptCode" column="DEPT_CODE" />
	<result property="positionCode" column="POSITION_CODE" />
	<result property="emplPw" column="EMPL_PW" />
	<result property="emplName" column="EMPL_NAME" />
	<result property="startDate" column="START_DATE" />
	<result property="email" column="EMAIL" />
	<result property="directNo" column="DIRECT_NO" />
	<result property="phoneNo" column="PHONE_NO" />
	<result property="recruitCategory" column="RECRUIT_CATEGORY" />
	<result property="salaryCategory" column="SALARY_CATEGORY" />
	<result property="referrer" column="REFERRER" />
	<result property="isStatus" column="IS_STATUS" />
	<result property="birthday" column="BIRTHDAY" />
	<result property="gender" column="GENDER" />
	<result property="isMarriage" column="IS_MARRIAGE" />
	<result property="isDisability" column="IS_DISABILITY" />
	<result property="isVeterans" column="IS_VETERANS" />
	<result property="endDate" column="END_DATE" />
	<result property="endReason" column="END_REASON" />
	<result property="emplProfile" column="EMPL_PROFILE" />
	<!-- 이름 추가 -->
	<result property="deptName" column="DEPT_NAME" />
	<result property="positionName" column="POSITION_NAME" />
</resultMap>

<insert id="insertReply">
  		INSERT INTO REPLY_TBL(REPLY_NO, BOARD_CODE, BOARD_NO, PARENT_REPLY_NO, REPLY_ORDER,REPLY_DEPTH,EMPL_ID,REPLY_CONTENTS,WRITE_DATE,STATUS) VALUES(BOARD_REPLY_SEQ.NEXTVAL,#{boardCode },#{boardNo},BOARD_REPLY_SEQ.CURRVAL,0,0,#{emplId},#{replyContents},DEFAULT,DEFAULT)
</insert>
<insert id="insertReReply">
	INSERT INTO REPLY_TBL(REPLY_NO, BOARD_CODE, BOARD_NO, PARENT_REPLY_NO, REPLY_ORDER,REPLY_DEPTH,EMPL_ID,REPLY_CONTENTS,WRITE_DATE,STATUS) VALUES(BOARD_REPLY_SEQ.NEXTVAL,#{boardCode },#{boardNo},#{parentReplyNo},(SELECT MAX(REPLY_ORDER)+1 FROM REPLY_TBL WHERE PARENT_REPLY_NO = #{parentReplyNo}),1,#{emplId},#{replyContents},DEFAULT,DEFAULT)
</insert>

<select id="selectAllReply" resultMap = "boardReplyResultMap">
  		SELECT * FROM REPLY_TBL WHERE BOARD_NO = #{boardNo } AND BOARD_CODE= #{boardCode} AND STATUS='Y' ORDER BY PARENT_REPLY_NO, REPLY_ORDER 
</select>
<update id="deleteReply">
		UPDATE REPLY_TBL SET STATUS='N' WHERE REPLY_NO = #{replyNo}
</update>
<update id="updateReply">
		UPDATE REPLY_TBL SET REPLY_CONTENTS = #{replyContents} WHERE REPLY_NO = #{replyNo}
</update>

<!-- 회원정보 -->
  	<select id="selectEmplById" resultMap="employeeResultMap">
		SELECT EMPL_PROFILE, EMPL_NAME, EMPL_ID, EMPL_PW, DEPT_NAME "DEPT_CODE", POSITION_NAME "POSITION_CODE",
		DIRECT_NO, EMAIL, PHONE_NO, TO_CHAR(BIRTHDAY, 'YYYY-MM-DD') "BIRTHDAY" <!-- string을 날짜형태로 변환하기 위해 적어줌 ""에는 컬럼명 써줌 -->
		FROM EMPL_TBL E
		JOIN DEPT_TBL D ON(E.DEPT_CODE = D.DEPT_CODE)
		JOIN POSITION_TBL P ON(E.POSITION_CODE = P.POSITION_CODE)
		WHERE EMPL_ID = #{emplId}
	</select>

</mapper>