<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BoardAttachedFileMapper">
<resultMap type="BoardAttachedFile" id="boardFileResultMap">
<id 	property="fileNo" column="FILE_NO"></id>
<result property="boardCode" column="BOARD_CODE"></result>
<result property="boardNo" column="BOARD_NO"></result>
<result property="fileName" column="FILE_NAME"></result>
<result property="fileRename" column="FILE_RENAME"></result>
<result property="filePath" column="FILE_PATH"></result>
</resultMap>
<!-- 첨부파일 등록  -->
<insert id="insertBoardFile">
	INSERT INTO BOARD_ATTACHED_FILE_TBL VALUES(BOARD_FILE_SEQ.NEXTVAL, #{boardCode},NOTICE_BOARD_SEQ.CURRVAL,#{fileName},#{fileRename},#{filePath})
</insert>

<!-- 첨부파일 수정 -->
<insert id="updateBoardFile">
	INSERT INTO BOARD_ATTACHED_FILE_TBL VALUES(BOARD_FILE_SEQ.NEXTVAL, #{boardCode},#{boardNo},#{fileName},#{fileRename},#{filePath})
</insert>

<!-- 첨부파일 삭제 -->  
  <delete id="deleteFile">
  	DELETE FROM BOARD_ATTACHED_FILE_TBL WHERE FILE_NO = #{fileNo}
  </delete>

  
  
</mapper>