<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DeptMapper">
	<resultMap type="Dept" id="deptResultMap">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="deptSecondname" column="DEPT_SECONDNAME"/>
		<result property="deptColor" column="DEPT_COLOR"/>
		<result property="deptMaster" column="DEPT_MASTER"/>
		<result property="deptHiredate" column="DEPT_HIREDATE"/>
		<result property="deptUppercode" column="DEPT_UPPERCODE"/>
		<result property="deptLevel" column="DEPT_LEVEL"/>
	
	</resultMap>
	<select id="selectAllDept" resultMap="deptResultMap">
		SELECT * FROM DEPT_TBL
	</select>
</mapper>