<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="FreeBoardMapper">
<resultMap type="FreeBoard" id="freeResultMap">
<id 	property="freeNo" column="FREE_NO"></id>
<result property="boardCode" column="BOARD_CODE"></result>
<result property="emplId" column="EMPL_ID"></result>
<result property="freeTitle" column="FREE_TITLE"></result>
<result property="freeContents" column="FREE_CONTENTS"></result>
<result property="writeDate" column="FREE_WRITE_DATE"></result>
<result property="freeCount" column="FREE_COUNT"></result>
<result property="recommendCount" column="RECOMMEND_COUNT"></result>
<result property="status" column="FREE_STATUS"></result>
<collection property="bList" column="FREE_NO" javaType="java.util.ArrayList" ofType="BoardAttachedFile" select="selectAllFile"></collection>
<collection property="employee" column="EMPL_ID" ofType="Employee"  select="selectEmplById"></collection>
</resultMap>
<resultMap type="BoardAttachedFile" id="boardFileResultMap">
<id 	property="fileNo" column="FILE_NO"></id>
<result property="boardCode" column="BOARD_CODE"></result>
<result property="boardNo" column="BOARD_NO"></result>
<result property="fileName" column="FILE_NAME"></result>
<result property="fileRename" column="FILE_RENAME"></result>
<result property="filePath" column="FILE_PATH"></result>
</resultMap>

<resultMap type="com.highfive.hirp.employee.domain.Employee" id="employeeResultMap"> <!-- 필요한 값만 적으면 됨 -->
	<id property="emplId" column="EMPL_ID" />
	<result property="deptCode" column="DEPT_CODE" />
	<result property="positionCode" column="POSITION_CODE" />
	<result property="emplPw" column="EMPL_PW" />
	<result property="emplName" column="EMPL_NAME" />
	<result property="startDate" column="START_DATE" />
	<result property="email" column="EMAIL" />
	<result property="directNo" column="DIRECT_NO" />
	<result property="phoneNo" column="PHONE_NO" />
	<result property="recruitCategory" column="RECRUIT_CATEGORY" />
	<result property="salaryCategory" column="SALARY_CATEGORY" />
	<result property="referrer" column="REFERRER" />
	<result property="isStatus" column="IS_STATUS" />
	<result property="birthday" column="BIRTHDAY" />
	<result property="gender" column="GENDER" />
	<result property="isMarriage" column="IS_MARRIAGE" />
	<result property="isDisability" column="IS_DISABILITY" />
	<result property="isVeterans" column="IS_VETERANS" />
	<result property="endDate" column="END_DATE" />
	<result property="endReason" column="END_REASON" />
	<result property="emplProfile" column="EMPL_PROFILE" />
	<!-- 이름 추가 -->
	<result property="deptName" column="DEPT_NAME" />
	<result property="positionName" column="POSITION_NAME" />
</resultMap>
<!-- 자유게시판 리스트 조회  -->
<select id="selectAllFree" resultMap="freeResultMap">
	SELECT * FROM BOARD_FREE_TBL  WHERE FREE_STATUS = 'Y' ORDER BY FREE_NO DESC
</select>

<!-- 첨부파일 리스트 조회 -->
<select id="selectAllFile" resultMap="boardFileResultMap">
	SELECT * FROM BOARD_ATTACHED_FILE_TBL WHERE BOARD_NO = #{freeNo}
</select>
<insert id="insertFree">
	INSERT INTO BOARD_FREE_TBL VALUES( FREE_BOARD_SEQ.NEXTVAL,#{boardCode},#{emplId},#{freeTitle},#{freeContents},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
</insert>
<insert id="insertBoardFile">
	INSERT INTO BOARD_ATTACHED_FILE_TBL VALUES(BOARD_FILE_SEQ.NEXTVAL, #{boardCode},FREE_BOARD_SEQ.CURRVAL,#{fileName},#{fileRename},#{filePath})
</insert>
<!-- 게시글  개수 조회 -->
<select id="selectListCount" resultType="_int">
	SELECT COUNT(*) FROM BOARD_FREE_TBL WHERE FREE_STATUS = 'Y'
</select>
<!-- 게시글 디테일 조회 -->
<select id="selectOneFree" resultMap="freeResultMap">
	SELECT * FROM BOARD_FREE_TBL WHERE FREE_NO = #{freeNo}
</select>
<!-- 조회수 증가 -->
  <update id="updateCount">
  	UPDATE BOARD_FREE_TBL SET FREE_COUNT = FREE_COUNT + 1 WHERE FREE_NO = #{freeNo}
  </update>
<!-- 게시글 검색 조회 -->
<select id="selectSearchFree" resultMap="freeResultMap">
  		<if test="searchCondition.toString() =='writer'">
  		SELECT * FROM BOARD_FREE_TBL WHERE EMPL_ID LIKE '%' || #{searchValue} || '%'
  		</if>
  		<if test="searchCondition.toString() =='title'">
  		SELECT * FROM BOARD_FREE_TBL WHERE FREE_TITLE LIKE '%'|| #{searchValue}||  '%'
  		</if>
  		<if test="searchCondition.toString() =='contents'">
  		SELECT * FROM BOARD_FREE_TBL WHERE FREE_CONTENTS LIKE '%' ||  #{searchValue}||  '%'
  		</if>
  		<if test="searchCondition.toString() =='all'">
  		SELECT * FROM BOARD_FREE_TBL WHERE FREE_CONTENTS LIKE '%' ||  #{searchValue} || '%'
  		OR FREE_TITLE LIKE '%' ||  #{searchValue} || '%'
  		OR EMPL_ID LIKE '%' ||  #{searchValue}||  '%'
  		</if>
  	</select>  
<!-- 공지글 수정 -->
  <update id="updateFree">
  	UPDATE BOARD_FREE_TBL SET FREE_TITLE=#{freeTitle}, FREE_CONTENTS = #{freeContents} WHERE FREE_NO = #{freeNo}
  </update>
  <!-- 공지게시글 삭제 -->
  <update id="deleteFree">
  	UPDATE BOARD_FREE_TBL SET FREE_STATUS = 'N'WHERE FREE_NO = #{freeNo}
  </update>  
  <!-- 게시글 디테일 첨부파일 조회 -->
  <select id="selectOneFile" resultMap="boardFileResultMap">
  	SELECT * FROM BOARD_ATTACHED_FILE_TBL WHERE BOARD_CODE = #{boardCode} AND BOARD_NO = #{freeNo}
  </select>
   <!-- 공지게시글 첨부파일 수정 -->
  <insert id="updateBoardFile">
  		INSERT INTO BOARD_ATTACHED_FILE_TBL VALUES(BOARD_FILE_SEQ.NEXTVAL, #{boardCode},#{boardNo},#{fileName},#{fileRename},#{filePath})
  </insert>
  
  <!-- 첨부파일 삭제 -->  
  <delete id="deleteFile">
  	DELETE FROM BOARD_ATTACHED_FILE_TBL WHERE FILE_NO = #{fileNo}
  </delete>
  
  <!-- 회원정보 -->
  	<select id="selectEmplById" resultMap="employeeResultMap">
		SELECT EMPL_PROFILE, EMPL_NAME, EMPL_ID, EMPL_PW, DEPT_NAME "DEPT_CODE", POSITION_NAME "POSITION_CODE",
		DIRECT_NO, EMAIL, PHONE_NO, TO_CHAR(BIRTHDAY, 'YYYY-MM-DD') "BIRTHDAY" <!-- string을 날짜형태로 변환하기 위해 적어줌 ""에는 컬럼명 써줌 -->
		FROM EMPL_TBL E
		JOIN DEPT_TBL D ON(E.DEPT_CODE = D.DEPT_CODE)
		JOIN POSITION_TBL P ON(E.POSITION_CODE = P.POSITION_CODE)
		WHERE EMPL_ID = #{emplId}
	</select>
  
  
  
  
  
  
</mapper>