<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MailMapper">
	<resultMap type="Mail" id="MailResultMap">
		<id property="mailNo" column="MAIL_NO"/>
		<result property="mailSender" column="MAIL_SENDER"/>
		<result property="mailTitle" column="MAIL_TITLE"/>
		<result property="mailContents" column="MAIL_CONTENTS"/>
		<result property="mailDate" column="MAIL_DATE"/>
		<result property="importantMail" column="IMPORTANT_MAIL"/>
		<result property="temporaryStorage" column="TEMPORARY_STORAGE"/>
		<result property="mailWasteBasket" column="MAIL_WASTEBASKET"/>
		<result property="emplId" column="EMPL_ID"/>
		<result property="recipientId" column="RECIPIENT_ID"/>
		<result property="referrerId" column="REFERRER_ID"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileReName" column="FILE_RENAME"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	
	<resultMap type="MailFile" id="MailFileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="mailNo" column="MAIL_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileExtension" column="FILE_EXTENSION"/>
		<result property="fileReName" column="FILE_RENAME"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	
	<resultMap type="Recipient" id="RecipientResultMap">
		<id property="recipientNo" column="RECIPIENT_NO"/>
		<result property="mailNo" column="MAIL_NO"/>
		<result property="recipientId" column="RECIPIENT_ID"/>
	</resultMap>
	
	<resultMap type="Referrer" id="ReferrerResultMap">
		<id property="referrerNo" column="REFERRER_NO"/>
		<result property="mailNo" column="MAIL_NO"/>
		<result property="referrerId" column="REFERRER_ID"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM MAIL_TBL
	</select>
	
	<!-- 받은메일함 -->
	<select id="selectRecMail" resultMap="MailResultMap">
		SELECT * FROM
		    (SELECT MAIL_NO, MAIL_SENDER, MAIL_TITLE, MAIL_DATE, EMPL_ID
		    FROM MAIL_TBL WHERE MAIL_SENDER != #{mailSender})
		    JOIN RECIPIENT_TBL USING(MAIL_NO)
		    JOIN EMPL_TBL ON (EMPL_ID = EMPL_ID)
		    WHERE RECIPIENT_ID = #{recipientId}
		    AND MAIL_SENDER != #{mailSender}
	</select>
	
	<!-- 보낸메일함 -->
	<!-- 임시보관함 -->
	<!-- 내게쓴메일함 -->
	<!-- 휴지통 -->
	
	<!-- 받은메일함 상세조회 (조인문 사용해서 셀렉트 해야함) -->
<!-- 	<select id="selectOneByNo" resultMap="MailResultMap"> -->
<!-- 		SELECT * FROM MAIL_TBL WHERE MAIL_NO = #{mailNo} -->
<!-- 	</select> -->
	
	<!-- 메일 보내기 -->
	<insert id="sendMail" parameterType="Mail">
		INSERT INTO MAIL_TBL
		VALUES(MAIL_NO.NEXTVAL, #{emplId}, #{mailTitle}, #{mailContents}, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<!-- 메일 보낼때 수신인 -->
	<insert id="sendMailRecipient" parameterType="Recipient">
		INSERT INTO RECIPIENT_TBL
		VALUES(RECIPIENT_NO.NEXTVAL, MAIL_NO.CURRVAL, #{recipientId})
	</insert>
	
	<!-- 메일 보낼때 참조인 -->
	<insert id="sendMailReferrer" parameterType="Referrer">
		INSERT INTO REFERRER_TBL
		VALUES(REFERRER_NO.NEXTVAL, MAIL_NO.CURRVAL, #{referrerId})
	</insert>
	
	<!-- 첨부파일 저장 -->
	<insert id="saveFile" parameterType="MailFile">
		INSERT INTO MAIL_FILE_TBL
		VALUES(FILE_NO.NEXTVAL, MAIL_NO.CURRVAL, #{fileName}, #{fileExtension}, #{fileReName}, #{filePath})
	</insert>
</mapper>