<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeBoardMapper">
<resultMap type="NoticeBoard" id="noticeResultMap">
<id 	property="noticeNo" column="NOTICE_NO"></id>
<result property="boardCode" column="BOARD_CODE"></result>
<result property="emplId" column="EMPL_ID"></result>
<result property="noticeTitle" column="NOTICE_TITLE"></result>
<result property="noticeContents" column="NOTICE_CONTENTS"></result>
<result property="writeDate" column="NOTICE_WRITE_DATE"></result>
<result property="noticeCount" column="NOTICE_COUNT"></result>
<result property="status" column="NOTICE_STATUS"></result>
<collection property="bList" column="NOTICE_NO" javaType="java.util.ArrayList" ofType="BoardAttachedFile" select="selectAllFile"></collection>
</resultMap>
<resultMap type="BoardAttachedFile" id="boardFileResultMap">
<id 	property="fileNo" column="FILE_NO"></id>
<result property="boardCode" column="BOARD_CODE"></result>
<result property="boardNo" column="BOARD_NO"></result>
<result property="fileName" column="FILE_NAME"></result>
<result property="fileRename" column="FILE_RENAME"></result>
<result property="filePath" column="FILE_PATH"></result>
</resultMap>
<!-- 게시글 등록  -->
<insert id="insertNotice">
	INSERT INTO BOARD_NOTICE_TBL VALUES( NOTICE_BOARD_SEQ.NEXTVAL,#{boardCode},#{emplId},#{noticeTitle},#{noticeContents},DEFAULT, DEFAULT,DEFAULT)
</insert>
<!-- 공지게시글 번호 조회  -->
<select id="selectNoticeNo" resultType="_int">
	SELECT NOTICE_NO FROM(SELECT NOTICE_NO, RANK()OVER(ORDER BY NOTICE_WRITE_DATE DESC )RANK_NUM FROM BOARD_NOTICE_TBL)WHERE RANK_NUM = 1
</select>

<!-- 공지게시글 리스트 조회  -->
<select id="selectAllNotice" resultMap="noticeResultMap">
	SELECT * FROM BOARD_NOTICE_TBL  WHERE NOTICE_STATUS = 'Y' ORDER BY NOTICE_NO DESC
</select>

<!-- 첨부파일 리스트 조회 -->
<select id="selectAllFile" resultMap="boardFileResultMap">
	SELECT * FROM BOARD_ATTACHED_FILE_TBL WHERE BOARD_NO = #{noticeNo}
</select>

<!-- 공지게시글 리스트 개수 조회 -->
<select id="selectListCount" resultType="_int">
	SELECT COUNT(*) FROM BOARD_NOTICE_TBL WHERE NOTICE_STATUS = 'Y'
</select>
<select id="selectSearchNotice" resultMap="noticeResultMap">
  		<if test="searchCondition.toString() =='writer'">
  		SELECT * FROM BOARD_NOTICE_TBL WHERE EMPL_ID LIKE '%' || #{searchValue} || '%'
  		</if>
  		<if test="searchCondition.toString() =='title'">
  		SELECT * FROM BOARD_NOTICE_TBL WHERE NOTICE_TITLE LIKE '%'|| #{searchValue}||  '%'
  		</if>
  		<if test="searchCondition.toString() =='contents'">
  		SELECT * FROM BOARD_NOTICE_TBL WHERE NOTICE_CONTENTS LIKE '%' ||  #{searchValue}||  '%'
  		</if>
  		<if test="searchCondition.toString() =='all'">
  		SELECT * FROM BOARD_NOTICE_TBL WHERE NOTICE_CONTENTS LIKE '%' ||  #{searchValue} || '%'
  		OR NOTICE_TITLE LIKE '%' ||  #{searchValue} || '%'
  		OR EMPL_ID LIKE '%' ||  #{searchValue}||  '%'
  		</if>
  	</select>
  <!-- 공지게시글 디테일 조회 -->
  <select id="selectOneNotice" resultMap="noticeResultMap">
  	SELECT * FROM BOARD_NOTICE_TBL WHERE NOTICE_NO = #{noticeNo}
  </select>
  <!-- 공지글 수정 -->
  <update id="updateNotice">
  	UPDATE BOARD_NOTICE_TBL SET NOTICE_TITLE=#{noticeTitle}, NOTICE_CONTENTS = #{noticeContents} WHERE NOTICE_NO = #{noticeNo}
  </update>
  <!-- 공지게시글 삭제 -->
  <update id="deleteNotice">
  	UPDATE BOARD_NOTICE_TBL SET NOTICE_STATUS = 'N'WHERE NOTICE_NO = #{noticeNo}
  </update>
  <!-- 조회수 증가 -->
  <update id="updateCount">
  	UPDATE BOARD_NOTICE_TBL SET NOTICE_COUNT = NOTICE_COUNT + 1 WHERE NOTICE_NO = #{noticeNo}
  </update>
  <select id="selectNewestNotice" resultMap="noticeResultMap">
     SELECT * FROM (SELECT NOTICE_NO,EMPL_ID,NOTICE_TITLE,NOTICE_WRITE_DATE,NOTICE_COUNT,NOTICE_STATUS,RANK()OVER(ORDER BY NOTICE_WRITE_DATE DESC )RANK_NUM FROM BOARD_NOTICE_TBL)WHERE RANK_NUM <![CDATA[ < ]]> 6 AND NOTICE_STATUS='Y'
  </select>
  <!-- 공지게시글 디테일 첨부파일 조회 -->
  <select id="selectOneFile" resultMap="boardFileResultMap">
  	SELECT * FROM BOARD_ATTACHED_FILE_TBL WHERE BOARD_CODE = #{boardCode} AND BOARD_NO = #{noticeNo}
  </select>

   <!-- 공지게시글 첨부파일 수정 -->
  <insert id="updateBoardFile">
  		INSERT INTO BOARD_ATTACHED_FILE_TBL VALUES(BOARD_FILE_SEQ.NEXTVAL, #{boardCode},#{boardNo},#{fileName},#{fileRename},#{filePath})
  </insert>
  
  <!-- 첨부파일 삭제 -->  
  <delete id="deleteFile">
  	DELETE FROM BOARD_ATTACHED_FILE_TBL WHERE FILE_NO = #{fileNo}
  </delete>
  
  <select id="selectMyNotice">
  	SELECT FROM BOARD_NOTICE_TBL WHERE EMPL_ID = #{emplId};
  </select>
  
  
  
  
  
  </mapper>