<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ScheduleMapper">
	<resultMap type="Schedule" id="scheduleResultMap">
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="emplId" column="EMPL_ID"/>
		<result property="scheduleCategory" column="SCHEDULE_CATEGORY"/>
		<result property="scheduleTitle" column="SCHEDULE_TITLE"/>
		<result property="scheduleColor" column="SCHEDULE_COLOR"/>
		<result property="scheduleConts" column="SCHEDULE_CONTS"/>
		<result property="scheduleStartDate" column="SCHEDULE_START_DATE"/>
		<result property="scheduleEndDate" column="SCHEDULE_END_DATE"/>
		<result property="schedulePlace" column="SCHEDULE_PLACE"/>
		<result property="scheduleAlarm" column="SCHEDULE_ALARM"/>
	</resultMap>
	<select id="selectAllCompanySchedule" resultMap="scheduleResultMap">
		SELECT * FROM ALL_SCHEDULE_TBL ORDER BY SCHEDULE_START_DATE DESC
	</select>
	<select id="selectAllTeamSchedule" resultMap="scheduleResultMap">
		SELECT * 
		FROM SCHEDULE_TBL 
		WHERE SCHEDULE_CATEGORY = '부서' AND EMPL_ID = (SELECT A.DEPT_MASTER FROM DEPT_TBL A JOIN EMPL_TBL B USING(DEPT_CODE) WHERE B.EMPL_ID = #{emplId})
	</select>
	<select id="selectAllPersonalSchedule" resultMap="scheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE EMPL_ID = #{emplId} AND SCHEDULE_CATEGORY = '개인' ORDER BY SCHEDULE_START_DATE DESC
	</select>	
	<insert id="insertCompanySchedule">
		INSERT INTO ALL_SCHEDULE_TBL VALUES(ALL_SCHEDULE_SEQ.NEXTVAL, #{scheduleTitle}, #{scheduleColor}, #{scheduleConts}, #{scheduleStartDate}, #{scheduleEndDate}, #{schedulePlace}, #{scheduleAlarm})
	</insert>
	<insert id="insertSchedule">
		INSERT INTO SCHEDULE_TBL VALUES(SCHEDULE_SEQ.NEXTVAL, #{emplId}, #{scheduleCategory}, #{scheduleTitle}, #{scheduleColor}, #{scheduleConts}, #{scheduleStartDate}, #{scheduleEndDate}, #{schedulePlace}, #{scheduleAlarm})
	</insert>
	<insert id="insertScheduleToSub">
		INSERT INTO SCHEDULE_EMPL_TBL VALUES(SCHEDULE_SEQ.CURRVAL, #{emplId}, #{scheduleCategory})
	</insert>
	<update id="modifyCompanySchedule">
		UPDATE ALL_SCHEDULE_TBL 
		SET SCHEDULE_TITLE = #{scheduleTitle}, 
			SCHEDULE_COLOR = #{scheduleColor}, 
			SCHEDULE_CONTS = #{scheduleConts}, 
			SCHEDULE_START_DATE = #{scheduleStartDate}, 
			SCHEDULE_END_DATE = #{scheduleEndDate}, 
			SCHEDULE_PLACE = #{schedulePlace}, 
			SCHEDULE_ALARM = #{scheduleAlarm} 
		WHERE SCHEDULE_NO = #{scheduleNo}
	</update>
	<update id="modifySchedule">
		UPDATE SCHEDULE_TBL 
		SET SCHEDULE_CATEGORY = #{scheduleCategory}, 
			SCHEDULE_TITLE = #{scheduleTitle}, 
			SCHEDULE_COLOR = #{scheduleColor}, 
			SCHEDULE_CONTS = #{scheduleConts}, 
			SCHEDULE_START_DATE = #{scheduleStartDate}, 
			SCHEDULE_END_DATE = #{scheduleEndDate}, 
			SCHEDULE_PLACE = #{schedulePlace}, 
			SCHEDULE_ALARM = #{scheduleAlarm} 
		WHERE SCHEDULE_NO = #{scheduleNo}
	</update>
	<delete id="deleteSchedule">
		DELETE FROM SCHEDULE_TBL WHERE SCHEDULE_NO = #{scheduleNo }
	</delete>
	<delete id="deleteCompanySchedule">
		DELETE FROM ALL_SCHEDULE_TBL WHERE SCHEDULE_NO = #{scheduleNo }
	</delete>
</mapper>