<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="TimeMapper">
	<resultMap type="Time" id="timeResultMap">
		<id property="timeNo" column="TIME_NO"/>
		<result property="emplId" column="EMPL_ID"/>
		<result property="timeDate" column="TIME_DATE"/>
		<result property="timeStart" column="TIME_START"/>
		<result property="timeEnd" column="TIME_END"/>
		<result property="timeState" column="TIME_STATE"/>
		<result property="timeContent" column="TIME_CONTENT"/>
	</resultMap>
	<resultMap type="TimeModify" id="timeModifyResultMap">
		<id property="timemNo" column="TIMEM_NO"/>
		<result property="timeNo" column="TIME_NO"/>
		<result property="timemDepartment" column="TIMEM_DEPARTMENT"/>
		<result property="emplId" column="EMPL_ID"/>
		<result property="timemName" column="TIMEM_NAME"/>
		<result property="timemTitle" column="TIMEM_TITLE"/>
		<result property="timemStart" column="TIMEM_START"/>
		<result property="timemEnd" column="TIMEM_END"/>
		<result property="timemContent" column="TIMEM_CONTENT"/>
		<result property="timemDate" column="TIMEM_DATE"/>
		<result property="timemBefore" column="TIMEM_BEFORE"/>
		<result property="timemAfter" column="TIMEM_AFTER"/>
	</resultMap>
	<resultMap type="Vacation" id="vacationResultMap">
		<id property="vacationNo" column="VACATION_NO"/>
		<result property="emplId" column="EMPL_ID"/>
		<result property="vacationName" column="VACATION_NAME"/>
		<result property="vacationDepartment" column="VACATION_DEPARTMENT"/>
		<result property="vacationDivision" column="VACATION_DIVISION"/>
		<result property="vacationStart" column="VACATION_START"/>
		<result property="vacationEnd" column="VACATION_END"/>
		<result property="vacationContent" column="VACATION_CONTENT"/>
		<result property="vacationState" column="VACATION_STATE"/>
	</resultMap>
	
	<!-- 사용자 출근 등록 -->
	<insert id="insertWorkStart" parameterType="Time">
		INSERT INTO TIME_TBL
		VALUES (TIME_SEQ.NEXTVAL, #{emplId}, TO_CHAR(SYSDATE, 'YYYY-MM-DD'), TO_CHAR(SYSDATE, 'HH24:MI:SS'), NULL, '업무', NULL) <!-- 시퀀스는 인서트할때만 -->
	</insert>
	
	<!-- 사용자 퇴근 등록 -->
	<update id="updateWorkEnd" parameterType="Time">
		UPDATE TIME_TBL
		SET TIME_END = TO_CHAR(SYSDATE, 'HH24:MI:SS')
		WHERE TO_CHAR(TIME_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND EMPL_ID = #{emplId}
		<!-- TO_CHAR(TIME_DATE, 'YYYY-MM-DD') 디비에 저장되어있는 데이터가 시분초가 들어가있는데 년월일까지만 비교하려고 넣음 -->
	</update>
	
	<!-- 사용자 출,퇴근 내역 화면 -->
	<select id="selectTime" parameterType="Time" resultMap="timeResultMap">
		SELECT *
		FROM TIME_TBL
		WHERE EMPL_ID = #{emplId }
	</select>
	
	<!-- 사용자 연차 내역 조회 -->
	<select id="selectTimeView" parameterType="String" resultMap="vacationResultMap">
		SELECT *
		FROM VACATION_TBL
		WHERE EMPL_ID = #{emplId}
	</select>
	
	
</mapper>