<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- 만약에 NULL 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<typeAliases>
		<!-- 진실 -->
		<typeAlias type="com.highfive.hirp.schedule.domain.Schedule" alias="Schedule"></typeAlias>
		<typeAlias type="com.highfive.hirp.reservation.domain.Reservation" alias="Reservation"></typeAlias>
		<typeAlias type="com.highfive.hirp.todo.domain.Todo" alias="Todo"></typeAlias>
		<typeAlias type="com.highfive.hirp.todo.domain.Memo" alias="Memo"></typeAlias>
		<typeAlias type="com.highfive.hirp.employee.domain.Employee" alias="Employee"></typeAlias>
		<!-- 융경 -->
		<typeAlias type="com.highfive.hirp.group.domain.Group" alias="Group"></typeAlias>
		<typeAlias type="com.highfive.hirp.time.user.domain.Time" alias="Time"></typeAlias>
		<!-- 민수 -->
		<typeAlias type="com.highfive.hirp.favority.domain.Favority" alias="Favority"></typeAlias>
		<typeAlias type="com.highfive.hirp.mail.domain.Address" alias="Address"></typeAlias>
		<typeAlias type="com.highfive.hirp.mail.domain.Mail" alias="Mail"></typeAlias>
		<typeAlias type="com.highfive.hirp.mail.domain.MailFile" alias="MailFile"></typeAlias>
		<typeAlias type="com.highfive.hirp.position.domain.Position" alias="Position"></typeAlias>
		<typeAlias type="com.highfive.hirp.project.domain.Project" alias="Project"></typeAlias>
		<!-- 민선 -->
		<typeAlias type="com.highfive.hirp.dept.domain.Dept" alias="Dept"></typeAlias>
		<typeAlias type="com.highfive.hirp.survey.domain.Survey" alias="Survey"></typeAlias>
		<typeAlias type="com.highfive.hirp.survey.domain.SurveySub" alias="SurveySub"></typeAlias>
		<typeAlias type="com.highfive.hirp.survey.domain.SurveyQuest" alias="SurveyQuest"></typeAlias>
		<typeAlias type="com.highfive.hirp.survey.domain.SurveyQuestCh" alias="SurveyQuestCh"></typeAlias>
		<!-- survey, 나의 응답여부 -->
		<typeAlias type="com.highfive.hirp.survey.domain.SurveyMyStatus" alias="SurveyMyStatus"></typeAlias>
		<!-- search, surveyStatus, emplId -->
		<typeAlias type="com.highfive.hirp.survey.domain.SurveySearch" alias="SurveySearch"></typeAlias>
		<!-- emplId, surveyNo -->
		<typeAlias type="com.highfive.hirp.survey.domain.SurveySearch" alias="SurveyUpdate"></typeAlias>
	</typeAliases>
	<mappers>
		<!-- 진실 -->
		<mapper resource="mappers/schedule-mapper.xml" />
		<mapper resource="mappers/reservation-mapper.xml" />
		<mapper resource="mappers/todo-mapper.xml" />
		<mapper resource="mappers/adminemployee-mapper.xml" />
		<!-- 융경 -->
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/group-mapper.xml" />
		<mapper resource="mappers/time-mapper.xml" />
		<!-- 우정 -->
		<mapper resource="mappers/noticeboard-mapper.xml" />
		<mapper resource="mappers/anonymousboard-mapper.xml" />
		<mapper resource="mappers/freeboard-mapper.xml" />
		<mapper resource="mappers/departmentboard-mapper.xml" />
		<!-- 민수 -->
		<mapper resource="mappers/favority-mapper.xml" />
		<mapper resource="mappers/mail-mapper.xml" />
		<mapper resource="mappers/position-mapper.xml" />
		<mapper resource="mappers/project-mapper.xml" />
		<!-- 민선 -->
		<mapper resource="mappers/alarm-mapper.xml" />
		<mapper resource="mappers/survey-mapper.xml" />
		<mapper resource="mappers/chat-mapper.xml" />
		<mapper resource="mappers/dept-mapper.xml"/>
	</mappers>
</configuration>