<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- 만약에 NULL 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<typeAliases>
		<typeAlias type="com.highfive.hirp.schedule.domain.Schedule" alias="Schedule"></typeAlias>
		<typeAlias type="com.highfive.hirp.employee.domain.Employee" alias="Employee"></typeAlias>
		<typeAlias type="com.highfive.hirp.group.domain.Group" alias="Group"></typeAlias>
		<typeAlias type="com.highfive.hirp.time.user.domain.Time" alias="Time"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/survey-mapper.xml" />
		<mapper resource="mappers/alram-mapper.xml" />
		<mapper resource="mappers/chat-mapper.xml" />
		<mapper resource="mappers/schedule-mapper.xml" />
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/group-mapper.xml" />
		<mapper resource="mappers/time-mapper.xml" />
		<mapper resource="mappers/noticeboard-mapper.xml" />
		<mapper resource="mappers/anonymousboard-mapper.xml" />
		<mapper resource="mappers/freeboard-mapper.xml" />
		<mapper resource="mappers/departmentboard-mapper.xml" />
	</mappers>
</configuration>